<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/chatStyle.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/sockjs.min.js"></script>
    <script src="/stomp.js"></script>
    <script src="/socketConfig.js"></script>
    <script src="/service.js"></script>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>

<body>
<div id="chatPanel">
    <div id="content"></div>
    <input id="sendText" type="text"/>
    <input id="sendMsg" type="button" value="发送" onclick="sendMessages()"/>
</div>
</body>
</html>